.font1-400 {
  font-family: 'Signika Negative', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font1-500 {
  font-family: 'Signika Negative', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font1-600 {
  font-family: 'Signika Negative', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.font1-700 {
  font-family: 'Signika Negative', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
